@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* custom styling - start */

.formWrapper {
  padding: 30px;
  width: 70%;
  margin: auto;
  margin-top: 40px;
}

.formWrapper form input {
  display: block;
}

.formWrapper h1 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 12px;
}

.formWrapper input {
  border: 1px solid #9999;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 12px;
  width: 100%;
}

.formWrapper button {
  background: #000;
  color: #fff;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 12px;
}

.errorMsg {
  color: #cf3d3d;
  font-size: 16px;
  font-weight: 500;
}

.customNav {
  padding: 15px;
  border-bottom: 1px solid #d6d5d5;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 28px;
}

.customNav nav a {
  margin-right: 18px;
  font-size: 14px;
  color: #555;
}

.customNav input {
  margin-left: auto;
  margin-right: 30px;
  background: #ddd;
  padding: 6px 18px;
  font-size: 14px;
  border-radius: 4px;
}

.customNav input:focus,
.customNav input:focus-visible {
  outline: none;
  box-shadow: none;
}

@media (max-width: 576px) {
  .formWrapper {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .customNav {
    flex-direction: column;
    align-items: start;
    height: 100%;
    position: fixed;
    width: 100%;
    padding: 15px 0px;
    top: 0;
    background: #fff;
  }

  .logo {
    border-bottom: 1px solid #d6d5d5;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    align-items: center;
  }

  .logo a {
    color: #00a4ff;
  }

  .logo .mobileActions {
    color: #000;
    margin-left: auto;
    margin-right: 30px;
    display: flex;
  }

  .mobileActions .search {
    margin-right: 26px;
  }

  .mobileActions .search img {
    height: 16px;
  }

  .mobileActions img {
    height: 15px;
  }

  nav {
    flex-direction: column;
    display: flex;
    margin-top: 30px;
    padding-left: 20px;
  }

  .customNav nav a {
    margin-bottom: 18px;
    font-size: 16px;
  }

  .customNav input {
    display: none;
  }

  .mobileMenu {
    margin-left: auto;
    margin-right: 18px;
    width: fit-content;
    display: block;
    margin-top: 18px;
  }

  .mobileMenu img {
    height: 16px;
  }
}

@media (min-width: 769px) {

  .mobileActions,
  .mobileMenu {
    display: none;
  }
}


/* custom styling - end */